
.m-combo-box {
    position: relative;
    width: 100%;
}

.m-combo-main-content {
    display: flex;
    min-height: 36px;
    border: 1px solid #babec5;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.m-combo-main-content:focus {
    border-color: #2ca01c;
}

.m-selected-options {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    width: calc(100% - 32px);
    align-items: center;
    padding: 0 0 0 12px;
}


.m-combo-input {
    border: none;
    font-size: 13px;
    padding-right: unset;
    text-overflow: ellipsis;
    background-color: transparent;
    display: flex;
    flex-grow: 1;
    width: 100%;
    cursor: pointer;
}

.m-combo-action {
    display: flex;
}

.m-btn-dropdown {
    width: 36px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.m-btn-dropdown:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}