.m-icon-14 {
  width: 14px;
  height: 14px;
  background-image: url(../../assets/img/Sprites.64af8f61.svg);
  background-repeat: no-repeat;
}

.m-icon-16 {
  width: 16px;
  height: 16px;
  background-image: url(../../assets/img/Sprites.64af8f61.svg);
  background-repeat: no-repeat;
}

.m-icon-20 {
  width: 20px;
  height: 20px;
  background-image: url(../../assets/img/Sprites.64af8f61.svg);
  background-repeat: no-repeat;
}

.m-icon-24 {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/img/Sprites.64af8f61.svg);
  background-repeat: no-repeat;
}

.m-icon-48 {
  width: 48px;
  height: 48px;
  background-image: url(../../assets/img/Sprites.64af8f61.svg);
  background-repeat: no-repeat;
}

/* Icon option */
.m-option-icon {
  background-position: -424px -86px;
}

/* Icon tổng quan */
.m-icon-dashboard {
  background-position: -30px -1628px;
}

/* Icon tổng hợp */
.m-icon-general {
  background-position: -510px -1630px;
}

/* Icon báo cáo */
.m-icon-report {
  background-position: -547px -1628px;
}

/* Icon 3 dọc header */
.m-icon-three-stripes {
  background-position: -843px -30px;
}

/* Icon thông báo */
.m-icon-bell {
  background-position: -787px -30px;
}

/* Icon menu */
.m-icon-chevron-down {
  background-position: -464px -408px;
}

.m-icon-chevron-down-bold {
  background-position: -1128px -360px;
}

/* Icon tìm kiếm */
.m-icon-search {
  background-position: -992px -360px;
}

/* Icon tải lại dữ liệu */
.m-icon-refresh {
  background-position: -423px -201px;
}

/* Icon dropdown */
.m-icon-arrow-down {
  background-position: -560px -359px;
}

/* Icon dropdown blue*/
.m-icon-arrow-down-blue {
  background-position: -896px -359px;
}

/* Icon active checkbox */
.m-icon-checkbox-active {
  background-position: -1224px -360px;
}

/* Icon trợ giúp */
.m-icon-help {
  background-position: -89px -144px;
}

/* Icon đóng biểu mẫu */
.m-icon-close {
  background-position: -144px -144px;
}

/* Icon cảnh báo nguy hiểm */
.m-icon-danger {
  background-position: -24px -954px;
}

/* Icon câu hỏi */
.m-icon-question {
  background-position: -826px -456px;
}

/* Icon cảnh báo */
.m-icon-warning {
  background-position: -597px -456px;
}

/* Icon thành công */
.m-icon-suscess {
  background-position: -984px -456px;
}
