.m-con-radio {
  margin-right: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

.m-radio-label {
  margin-left: 10px;
  cursor: pointer;
}

input[type="radio"] {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
